<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
    <title>About</title>
</head>
<body>
    {{>header}}
 <div class="main-content" style="text-align: center;">
     <img src="https://media-exp1.licdn.com/dms/image/C5103AQE8C4c4tXnD8g/profile-displayphoto-shrink_400_400/0/1573956654906?e=1614211200&v=beta&t=qrdqXIU-Oy2peSkUFrupSmx87eoWW0Io4RJq1uKFxJk" />
     <h3>Anas Vakyathodi</h3>

 </div>
 {{>footer}}
</body>
</html>