<div class="footer">
    <div class="footer-items">
        <div class="links menu-items">
            <a href="facebook.com" class="link">Facebook</a>
            <a href="whatsapp.com" class="link">WhatsApp</a>
            <a href="instagram.com" class="link">Insta</a>
        </div>
    </div>
    <div class="footer-items">
        <div class="credits">
            <p>Developed by {{developer}}</p>
        </div>
    </div>
</div>