<div class="navbar">
    <div class="logo">{{title}}</div>
    <div class="menu-items">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</div>